        section {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 2rem;
        }

        article img {
            width: 100%;
        }

        nav {
            text-align: center;

        }

        button {
            font-size: 1.5rem;
            border-radius: 25px;
            padding: 10px;
            margin: 10px;
            border-color: blue;
        }

        h1 {
            text-align: center;
            color: red;
            font-family: sans-serif;
            font-size: 3rem;
        }

        .kategori {
            border: 1px solid black;
            margin: 5px;
            padding: 5px;
        }

        .valgt {
            background-color: red;
        }

        #detalje {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
            display: none;
        }

        #detalje p {
            max-width: 400px;

        }

        #detalje .luk {
            position: fixed;
            top: 0;
            right: 0;
            font-size: 4rem;
        }

        #detalje .kategori {
            width: 60vw;
            min-height: 50vh;
            margin: 4rem auto;
            padding: 4rem;
            background: white;
        }
